In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('./Unemployment in America Per US State.csv',sep=',')
df[df['State/Area'] == 'Ohio']

,FIPS Code,State/Area,Year,Month,Total Civilian Non-Institutional Population in State/Area,Total Civilian Labor Force in State/Area,Percent (%) of State/Area's Population,Total Employment in State/Area,Percent (%) of Labor Force Employed in State/Area,Total Unemployment in State/Area,Percent (%) of Labor Force Unemployed in State/Area
37,39,Ohio,1976,1,"7,701,000","4,754,858",61.7,"4,368,782",56.7,"386,076",8.1
90,39,Ohio,1976,2,"7,706,000","4,754,964",61.7,"4,368,157",56.7,"386,807",8.1
143,39,Ohio,1976,3,"7,711,000","4,755,734",61.7,"4,369,756",56.7,"385,978",8.1
196,39,Ohio,1976,4,"7,716,000","4,755,492",61.6,"4,375,662",56.7,"379,830",8.0
249,39,Ohio,1976,5,"7,721,000","4,754,562",61.6,"4,382,938",56.8,"371,624",7.8
...,...,...,...,...,...,...,...,...,...,...,...
29664,39,Ohio,2022,8,"9,342,093","5,737,556",61.4,"5,505,051",58.9,"232,505",4.1
29717,39,Ohio,2022,9,"9,344,994","5,724,932",61.3,"5,488,897",58.7,"236,035",4.1
29770,39,Ohio,2022,10,"9,347,921","5,717,761",61.2,"5,480,261",58.6,"237,500",4.2
29823,39,Ohio,2022,11,"9,349,822","5,718,061",61.2,"5,481,278",58.6,"236,783",4.1
29876,39,Ohio,2022,12,"9,351,375","5,720,233",61.2,"5,484,487",58.6,"235,746",4.1